.btn {
  background: #FF3737;
  border: none;
  color: white;
  padding: 9px 15px;
  height: 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  @include transition;

  &:hover {
    opacity: .8;
  }

  &--100 {
    width: 100%;
  }

  &--active {
    background: #F5F5F7;
    color: #FF3737
  }

  &--radius {
    border-radius: 18px;
  }

}

.input-number {
  display: inline-flex;
  align-items: center;
  background: #FF3737;
  border: 1px solid #E5E8EE;
  box-sizing: border-box;
  border-radius: 6px;
  color: #202020;
  font-size: 18px;
  text-align: center;

  &__input {
    background: #FFFFFF;
    width: 38px;
    height: 25px;
    border: none;
    text-align: center;
  }

  &__minus,
  &__plus {
    width: 23px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    color: white;

    &:hover {
      opacity: .8;
    }
  }
}



